{% extends "presufam/index.html" %}
{% block content %}
<div class="col-sm-12">
    <div class="col-sm-6">
        <br>
        <div class="login-form">
            <form method="post">
                <h4 class="modal-title">Crea tu Cuenta</h4>

                {% csrf_token %}
                {% include 'presufam/form-template.html' %}

                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Sign Up">
            </form>
            <div class="text-center small">Tienes una Cuenta? <a href="{% url 'presufam:sign-in' %}">Ingresar</a></div>
        </div>
    </div>
</div>
{% endblock %}
