<!DOCTYPE HTML>


<html>
	<head>
		<title>PresuFam</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'presufam/css/main.css' %}">
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'presufam:index' %}">PresuFam</a></h1>
						<nav class="links">
							<ul>
								{% if user.is_authenticated %}
								<li><a href="{% url 'presufam:index' %}">Inicio</a></li>
								<li><a href="{% url 'presufam:budget' %}">Presuspuesto</a></li>
								<li><a href="{% url 'presufam:index' %}">Historial</a></li>
								<li><a href="{% url 'presufam:index' %}">Resumen</a></li>
								{% else %}
								<li><a href="{% url 'presufam:index' %}">Inicio</a></li>
								{% endif %}
							</ul>
						</nav>
						<nav class="main">
							<ul>
                                {% if user.is_authenticated %}
                                <li class="search"> <div class="meta author"> <span class="name"> {{ user.nombre }} </span>  </div> </li>
                                <li class="search">
									<div class="meta">
										<a href="{% url 'presufam:log-out' %}" class="author"><span class="name">Salir</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</li>
                                {% else %}
								<li class="search">
									<div class="meta">
										<a href="{% url 'presufam:sign-in' %}" class="author"><span class="name">Ingresar</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</li>
                                <li class="search">
									<div class="meta">
										<a href="{% url 'presufam:sign-up' %}" class="author"><span class="name">Registrarse</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</li>
                                {% endif %}
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">


						<!-- Links -->
						<section>
							<ul class="links">
								<li>
									<a href="#">
										<h3>Inicio</h3>
										<p>Pagina inicial</p>
									</a>
								</li>
								<li>
									<a href="#">
										<h3>Presuspuesto</h3>
										<p>Configurar tus ingresos/egresos</p>
									</a>
								</li>
								<li>
									<a href="#">
										<h3>Historial</h3>
										<p>Phasellus sed ultricies mi congue</p>
									</a>
								</li>
								<li>
									<a href="#">
										<h3>Resumen</h3>
										<p>Ultimos movimientos realizados</p>
									</a>
								</li>
							</ul>
						</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

							{% block content %}
							<article class="post">

								<p>Bienvenido a Presufam!</p>
								<p>Te ayudaremos a administrar tu dinero.</p>

							</article>
							{% endblock %}

					</div>

				<!-- Footer -->
					<style>
						#footer {
							position: absolute;
							bottom: 5px;
						}
					</style>
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'presufam/js/jquery.min.js' %}"></script>
			<script src="{% static 'presufam/js/browser.min.js' %}"></script>
			<script src="{% static 'presufam/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'presufam/js/util.js' %}"></script>
			<script src="{% static 'presufam/js/main.js' %}" ></script>

	</body>
</html>